langchain_openai
langchain_core
python_dotenv
streamlit
langchain_community
langchain-ollama
langserve
fastapi
uvicorn
sse_starlette
chromadb
faiss-cpu
pypdf
bs4
sentence-transformers
wikipedia
arxiv
langchainhub
groq
langchain_groq
beautifulsoup4
python-dotenv